{% extends 'base.html' %}

{% block title %}
Tasks -
{% endblock title %}

{% block content %}


<div class="card">
    <div class="card-header">
        <h1 class="text-center">ToDo list</h1>
    </div>
    <div class="card-body">    
        <h4 class="bg-warning text-light py-2 mt-5 rounded text-center"> Tasks Delete:</h4>
        <ul class="list-group">           
            <li class="list-group-item list-group-item-action">
                {% if todo.completed == True %}
                <strike>{{todo.title}} </strike>
                {% else %}
                {{todo.title}}
                {% endif %}               
            </li>            
        </ul>
    </div>
</div>

{% endblock content %}